body {
    text-align: center;
    background-color:rgb(0, 0, 0);
}
h1 {
    color: white;
    font-size: 150%;
}

.button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.game{
    
    text-align:center;
    width:480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}